<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Identifier</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
          <div class="mx-auto max-w-md">
            <h2 class="text-3xl text-center">Snake Identifier</h2>
            <div class="divide-y divide-gray-300/50">
              <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                <p>Upload an image to get started!</p>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {% for error in form.photo.errors %}
                        <span class="text-red-700">{{ error }}</span>
                    {% endfor %}
                    <div class="flex justify-center">
                        <div class="">
                            {{ form.photo(class="form-control") }}
                        </div>
                        <div class="">
                            {{ form.submit }}
                        </div>       
                    </div>
                </form>
                {% if file_url %}
                    <div class="mt-5">
                        <img src="{{ file_url }}" alt="">
                    </div>
                {% endif %}

                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>
</html>